<% flash.get('error').forEach(function (message) { %>
<div class="alert alert-danger alert-dismissible">
  <%= message %>
  <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<% }) %>
<div class="panel">
  <div class="panel-body">
    <h3>Reset Password</h3>
    <hr/>
    <div class="row">
      <form action="/auth/password/verify" method="post" class="col-md-6">
        <input type="hidden" class="form-control" id="token" name="token" value="<%- user.token %>">
        <div class="form-group">
          <label for="newPassword">New password:</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" required="true">
        </div>
        <div class="form-group">
          <label for="newPasswordConfirmation">New password confirmation:</label>
          <input type="password" class="form-control" id="newPasswordConfirmation" name="newPasswordConfirmation" required="true">
        </div><br>
        <button type="submit" id="resetPassword" class="btn btn-default">Reset Password</button>
      </form>
    </div>
  </div>
</div>