  <!DOCTYPE html>
  <html>
  <head>
    <title>Undiscovered</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body>
    <div style='font-size:22px;line-height:32px;width:480px;margin:0 auto;color:#666;'>
      <h4 style='text-align:center;'>Undiscovered</h4>
      <hr style='margin-top: 20px;margin-bottom: 20px;border: 0;border-top: 1px solid #eee;'/>
      <h3>Hey <%= user.first_name + " " + user.last_name  %>,</h3>
      <p>We received a request to change your password on Undiscovered.</p>
      <p style='padding:20px 0; text-align:center;'>
        <a style='color:#2b5a83;text-decoration:none;border-radius:3px;border:1px solid #2b5a83;padding:10px 19px 12px 19px;font-size:17px;font-weight:500;white-space:nowrap;border-collapse:collapse;display:inline-block;line-height:19px;font-family:Helvetica Neue,Helvetica,Arial,sans-serif' href='http://undiscovered.herokuapp.com/auth/password/reset/confirm?token='<%= user.token %>>
          Reset password
        </a>
      </p>
      <p>If you ignore this message, your password won't be changed.</p>
    </div>
  </body>
  </html>