<% flash.get('success').forEach(function (message) { %>
  <div class="alert alert-success alert-dismissible">
    <%= message %>
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
<% }) %>
<% flash.get('error').forEach(function (message) { %>
  <div class="alert alert-danger alert-dismissible">
    <%= message %>
    <button type='button' class='close' data-dismiss='alert' aria-label='Close'>
      <span aria-hidden='true'>&times;</span>
    </button>
  </div>
<% }) %>
<div class="jumbotron panel">
  <h2>Undiscovered API</h2>
</div>