<!DOCTYPE html>
<html>
<head>
  <title>Undiscovered</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/based.css">
</head>
<body>
  <div class="container-fluid header">
    <div class="container">
      <div class="row">
        <div class="clearfix">
          <h3 class="text-muted pull-left"><a href="/">Undiscovered</a></h3>
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" class=""><a href="/docs/endpoints/">Documentation</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container html-view">
    <div class="row">
      <%- body %>
    </div>
    <footer class="footer text-center">
      <p>Undiscovered &copy; 2015 by <a href="http://valdlabs.com">valdlabs research</a></p>
    </footer>
  </div>
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.min.js"></script>
  <script src="/js/dependencies/bootstrap.min.js"></script>
</body>
</html>
