<div class="panel-body">
  <h2>Authentication</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#auth-post-register" class="list-group-item"><span>POST</span> /auth/register</a>
    <a href="#auth-post-social-reg" class="list-group-item"><span>POST</span> /auth/:provider/register</a>
    <a href="#auth-post-login" class="list-group-item"><span>POST</span> /auth/login</a>
    <a href="#auth-post-social-login" class="list-group-item"><span>POST</span> /auth/:provider/login</a>
    <a href="#auth-post-forgot-password" class="list-group-item"><span>POST</span> /auth/password/forgot</a>
  </ul>
  <hr id="auth-post-register">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/auth/register
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/auth/register</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#auth-register" aria-expanded="true" aria-controls="auth-register">
        Response
      </a>
    </div>
    <div id="auth-register" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"email": "john@due.com",</div>
          <div class="level-3">"first_name": "John",</div>
          <div class="level-3">"last_name": "Doe",</div>
          <div class="level-3">"is_deleted": false,</div>
          <div class="level-3">"token": "08fRM9sdqt8hZvjePAuhvB2H4Yr58W9Zvfx6in",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55c6325543b53cf0025738ee"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>email</strong>
          </td>
          <td>String</td>
          <td>john@due.com</td>
        </tr>
        <tr>
          <td>
            <strong>password</strong>
          </td>
          <td>String</td>
          <td>
            <strong>12345678</strong>
            <br/>
            <small>min-length 8 character</small>
          </td>
        </tr>
        <tr>
          <td>
            <strong>first_name</strong>
          </td>
          <td>String</td>
          <td>John</td>
        </tr>
        <tr>
          <td>
            <strong>last_name</strong>
          </td>
          <td>String</td>
          <td>Due</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="auth-post-social-reg">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/auth/:provider/register
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/auth/facebook/register</span><br>
      <span class="url">https://undiscovered.herokuapp.com/auth/soundcloud/register</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#auth-social-register" aria-expanded="true" aria-controls="auth-social-register">
        Response
      </a>
    </div>
    <div id="auth-social-register" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"first_name": "john",</div>
          <div class="level-3">"last_name": "doe",</div>
          <div class="level-3">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
          <div class="level-3">"is_deleted": false,</div>
          <div class="level-3">"token": "08fRzzxjMRi3vnxfa2OwL0NHNUN9r3ydXWW4cj",</div>
          <div class="level-3">"createdAt": "2015-08-08T19:24:28.052Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T19:24:28.052Z",</div>
          <div class="level-3">"id": "55c6576c4543e34c0cb49a3d",</div>
          <div class="level-3">"socialaccounts": [{</div>
          <div class="level-3">"uid": "98127319283",</div>
          <div class="level-3">"username": "johndoe",</div>
          <div class="level-3">"name": "john doe",</div>
          <div class="level-3">"provider": "soundcloud",</div>
          <div class="level-3">"access_token": "8hgUYSGhjasdh23by23yIubYGHJFbhj",</div>
          <div class="level-3">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
          <div class="level-3">"is_deleted": false,</div>
          <div class="level-3">"createdAt": "2015-08-08T19:24:28.300Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T19:24:28.300Z",</div>
          <div class="level-3">"id": "55c6576c4543e34c0cb49a3e"</div>
          <div class="level-3">}]</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>provider</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>[:facebook, :soundcloud]</td>
        </tr>
        <tr>
          <td>
            <strong>uid</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>98127319283</td>
        </tr>
        <tr>
          <td>
            <strong>username</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>johndue</td>
        </tr>
        <tr>
          <td>
            <strong>name</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>John Due</td>
        </tr>
        <tr>
          <td>
            <strong>avatar</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String(URL)</td>
          <td>https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg</td>
        </tr>
        <tr>
          <td>
            <strong>access_token</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>8hgUYSGhjasdh23by23yIubYGHJFbhj</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="auth-post-login">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/auth/login
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/auth/login</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#auth-login" aria-expanded="true" aria-controls="auth-login">
        Response
      </a>
    </div>
    <div id="auth-login" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"email": "john@doe.com",</div>
          <div class="level-3">"first_name": "John",</div>
          <div class="level-3">"last_name": "Doe",</div>
          <div class="level-3">"token": "08fRM9sdqt8hZvjePAuhvB2H4Yr58W9Zvfx6in",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55c6325543b53cf0025738ee"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>email</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>john@due.com</td>
        </tr>
        <tr>
          <td>
            <strong>password</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>12345678</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="auth-post-social-login">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/auth/:provider/login
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/auth/facebook/login</span><br>
      <span class="url">https://undiscovered.herokuapp.com/auth/soundcloud/login</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#auth-social-login" aria-expanded="true" aria-controls="auth-social-login">
        Response
      </a>
    </div>
    <div id="auth-social-login" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"first_name": "john",</div>
          <div class="level-3">"last_name": "doe",</div>
          <div class="level-3">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
          <div class="level-3">"is_deleted": false,</div>
          <div class="level-3">"token": "08fRzzxjMRi3vnxfa2OwL0NHNUN9r3ydXWW4cj",</div>
          <div class="level-3">"createdAt": "2015-08-08T19:24:28.052Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T19:24:28.052Z",</div>
          <div class="level-3">"id": "55c6576c4543e34c0cb49a3d",</div>
          <div class="level-3">"socialaccounts": [{</div>
          <div class="level-4">"uid": "98127319283",</div>
          <div class="level-4">"username": "johndoe",</div>
          <div class="level-4">"name": "john doe",</div>
          <div class="level-4">"provider": "soundcloud",</div>
          <div class="level-4">"access_token": "8hgUYSGhjasdh23by23yIubYGHJFbhj",</div>
          <div class="level-4">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
          <div class="level-4">"is_deleted": false,</div>
          <div class="level-4">"createdAt": "2015-08-08T19:24:28.300Z",</div>
          <div class="level-4">"updatedAt": "2015-08-08T19:24:28.300Z",</div>
          <div class="level-4">"id": "55c6576c4543e34c0cb49a3e"</div>
          <div class="level-3">}]</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>provider</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>[:facebook, :soundcloud]</td>
        </tr>
        <tr>
          <td>
            <strong>uid</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>98127319283</td>
        </tr>
        <tr>
          <td>
            <strong>access_token</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>8hgUYSGhjasdh23by23yIubYGHJFbhj</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="auth-post-forgot-password">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/auth/password/forgot
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/auth/password/forgot</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#auth-forgot-password" aria-expanded="true" aria-controls="auth-forgot-password">
        Response
      </a>
    </div>
    <div id="auth-forgot-password" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"sent": "250 2.0.0 OK 1439062925 bf14sm6546644pdb.28 - gsmtp",</div>
          <div class="level-3">"message": "An email has been sent to your account's email address. Please check your email to continue."</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>email</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>john@due.com</td>
        </tr>
      </table>
    </div>
  </div>
</div>