<div class="panel-body">
  <h2>Comments</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#api-post-comment" class="list-group-item"><span>POST</span> videos/:video_id/comments</a>
    <a href="#api-get-comment" class="list-group-item"><span>GET</span> videos/:video_id/comments</a>
    <a href="#api-delete-comment" class="list-group-item"><span>DELETE</span> videos/:video_id/comments/:comment_id</a>
  </ul>
  <hr id="api-post-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span> /videos/:video_id/comments
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/comments</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#post-comment" aria-expanded="true" aria-controls="post-comment">
        Response
      </a>
    </div>
    <div id="post-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-3">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-3">"content": "Hai John",</div>
          <div class="level-3">"timestamp": 1440306922322,</div>
          <div class="level-3">"createdAt": "2015-08-23T05:15:22.330Z",</div>
          <div class="level-3">"updatedAt": "2015-08-23T05:15:22.330Z",</div>
          <div class="level-3">"id": "55d956ea8d37bdb41c1a9266"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f</td>
        </tr>
        <tr>
          <td>
            <strong>content</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>
            <strong>Hai John</strong>
            <br/>
            <small>min-length 8 character</small>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-get-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>GET</span>/videos/:video_id/comments
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/comments</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#get-comments" aria-expanded="true" aria-controls="get-comments">
        Response
      </a>
    </div>
    <div id="get-comments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": [</div>
          <div class="level-3">{</div>
          <div class="level-4">"user": {</div>
          <div class="level-5">"email": "john@doe.com",</div>
          <div class="level-5">"first_name": "John",</div>
          <div class="level-5">"last_name": "Doe",</div>
          <div class="level-5">"createdAt": "2015-08-20T19:10:06.790Z",</div>
          <div class="level-5">"updatedAt": "2015-08-20T19:10:06.790Z",</div>
          <div class="level-5">"id": "55d6260e76f8f4e82eb5ecd0"</div>
          <div class="level-4">},</div>
          <div class="level-4">video: "08ga6gx4ZazPEdjD32JN70II6U7fLq7jwaxb6F",</div>
          <div class="level-4">content: "Aloha",</div>
          <div class="level-4">timestamp: 1440306856591,</div>
          <div class="level-4">"createdAt": "2015-08-23T05:14:16.610Z",</div>
          <div class="level-4">"updatedAt": "2015-08-23T05:14:16.610Z",</div>
          <div class="level-4">"id": "55d956a88d37bdb41c1a9265"</div>
          <div class="level-3">}</div>
          <div class="level-2">]</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f</td>
        </tr>
        <tr>
          <td>
            <strong>since</strong>
            <br/>
            <small>Optional</small>
          </td>
          <td>Timestamp</td>
          <td>
            <strong>1440306856591</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>until</strong>
            <br/>
            <small>Optional</small>
          </td>
          <td>Timestamp</td>
          <td>
            <strong>1440306856591</strong>
          </td>
        </tr>
        <tr>
          <td>
            <strong>limit</strong>
            <br/>
            <small>Optional</small>
          </td>
          <td>Int</td>
          <td>
            <strong>10</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-delete-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>DELETE</span>/videos/:video_id/comments/:comment_id
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/comments/:comment_id</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#delete-comment" aria-expanded="true" aria-controls="delete-comment">
        Response
      </a>
    </div>
    <div id="delete-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": "DELETED"</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f</td>
        </tr>
        <tr>
          <td>
            <strong>comment_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>
            <strong>55d956ea8d37bdb41c1a9266</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>