<!DOCTYPE html>
<html>
<head>
  <title>Undiscovered</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/based.css">
  <!--STYLES END-->
</head>

<body>
  <div class="container-fluid header">
    <div class="container">
      <div class="row">
        <div class="clearfix">
          <h3 class="text-muted pull-left"><a href="/">Undiscovered</a></h3>
          <nav>
            <ul class="nav nav-pills pull-right">
              <li role="presentation" class="active"><a href="/docs/endpoints/">Documentation</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="container html-view">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="documentation-api col-sm-12 panel panel-default">
            <div class="row">
              <div class="col-md-3 col-sm-4 col-xs-12 docs-sidebar">
                <div class="row">
                  <ul class="list-unstyled menu-docs-top">
                    <li class="clearfix">
                      <h4>Endpoints <span class="menu-docs-icon glyphicon glyphicon-chevron-down pull-right hidden-lg hidden-md hidden-sm" aria-hidden="true"></span></h4>
                    </li>
                  </ul>
                  <ul class="list-unstyled menu-docs">
                    <li>
                      <a href="/docs/endpoints/authentication" class="<%- req.path == '/docs/endpoints/authentication' ? 'active' : '' %>">Authentication</a>
                    </li>
                    <li>
                      <a href="/docs/endpoints/users" class="<%- req.path == '/docs/endpoints/users' ? 'active' : '' %>">Users</a>
                    </li>
                    <li>
                      <a href="/docs/endpoints/videos" class="<%- req.path == '/docs/endpoints/videos' ? 'active' : '' %>">Videos</a>
                    </li>
                    <li>
                      <a href="/docs/endpoints/likes" class="<%- req.path == '/docs/endpoints/likes' ? 'active' : '' %>">Likes</a>
                    </li>
                    <li>
                      <a href="/docs/endpoints/comments" class="<%- req.path == '/docs/endpoints/comments' ? 'active' : '' %>">Comments</a>
                    </li>
                    <li>
                      <a href="/docs/endpoints/genres" class="<%- req.path == '/docs/endpoints/genres' ? 'active' : '' %>">Genres</a>
                    </li>
                    <li>
                      <a href="/docs/endpoints/playlists" class="<%- req.path == '/docs/endpoints/playlists' ? 'active' : '' %>">Playlists</a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="docs-reader col-md-9 col-sm-8 col-xs-12 pull-right">
                <div class="row">
                  <%- body %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer text-center">
      <p>Undiscovered &copy; 2015 by <a href="http://valdlabs.com">valdlabs research</a></p>
    </footer>
  </div>
  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/jquery.min.js"></script>
  <script src="/js/dependencies/bootstrap.min.js"></script>
  <script src="/js/based.js"></script>
  <!--SCRIPTS END-->
</body>
</html>
