<div class="panel-body">
  <h2>Genre</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#api-post-comment" class="list-group-item"><span>POST</span> genre/create</a>
  </ul>
  <hr id="api-post-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span> /genre/create
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/genre/create</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#post-comment" aria-expanded="true" aria-controls="post-comment">
        Response
      </a>
    </div>
    <div id="post-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"name": "Rock",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55dc13c20399af22573209b6"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>name</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>Rock</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-get-comment">
 
</div>