<div class="panel-body">
  <h2>Undiscovered API</h2>
  <hr>
  <p>The first version of the Undiscovered API is an exciting step forward towards making it easier for users to have open access to their data. We created it so that you can surface the amazing content Undiscovered users share every second, in fun and innovative ways.</p>
  <p>Build something great.</p>
</div>