<div class="panel-body">
  <h2>Like</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#api-post-comment" class="list-group-item"><span>POST</span> videos/:video_id/like</a>
    <a href="#api-get-comment" class="list-group-item"><span>GET</span> videos/:video_id/like</a>
    <a href="#api-delete-comment" class="list-group-item"><span>DELETE</span> videos/:video_id/like/</a>
  </ul>
  <hr id="api-post-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span> /videos/:video_id/like
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/like</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#post-comment" aria-expanded="true" aria-controls="post-comment">
        Response
      </a>
    </div>
    <div id="post-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"type": "like",</div>
          <div class="level-3">"video": "55cb8f02d8f6c3be218312c3",</div>
          <div class="level-3">"user": "55daa263025dd2084fc72d75",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55dc13c20399af22573209b6"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f</td>
        </tr>
        <tr>
          <td>
            <strong>type</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>
            <strong>Like</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-get-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>GET</span>/videos/:video_id/like
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/like</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#get-comments" aria-expanded="true" aria-controls="get-comments">
        Response
      </a>
    </div>
    <div id="get-comments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"email": "john@due.com",</div>
          <div class="level-3">"first_name": "John",</div>
          <div class="level-3">"last_name": "Doe",</div>
          <div class="level-3">"is_deleted": false,</div>
          <div class="level-3">"token": "08fRM9sdqt8hZvjePAuhvB2H4Yr58W9Zvfx6in",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55c6325543b53cf0025738ee"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f</td>
        </tr>
        <tr>
          <td>
            <strong>limit</strong>
            <br/>
            <small>Optional</small>
          </td>
          <td>Int</td>
          <td>
            <strong>10</strong>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-delete-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>DELETE</span>/videos/:video_id/like
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/like</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#delete-comment" aria-expanded="true" aria-controls="delete-comment">
        Response
      </a>
    </div>
    <div id="delete-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": "UNLIKE"</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f</td>
        </tr>
      </table>
    </div>
  </div>
</div>