<div class="panel-body">
  <h2>POST /auth/login</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>https://undiscovered.herokuapp.com/auth/login</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
      <strong>email</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>john@due.com</td>
    </tr>
    <tr>
      <td>
        <strong>password</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>12345678</td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"data": {</div>
    <div class="level-3">"email": "john@doe.com",</div>
    <div class="level-3">"first_name": "John",</div>
    <div class="level-3">"last_name": "Doe",</div>
    <div class="level-3">"token": "08fRM9sdqt8hZvjePAuhvB2H4Yr58W9Zvfx6in",</div>
    <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
    <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
    <div class="level-3">"id": "55c6325543b53cf0025738ee"</div>
    <div class="level-2">}</div>
    <div class="level-1">}</div>
  </div>
</div>