<div class="panel-body">
  <h2>POST /auth/:provider/register</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>https://undiscovered.herokuapp.com/auth/facebook/login</p>
  <p>https://undiscovered.herokuapp.com/auth/soundcloud/login</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
      <strong>provider</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>[:facebook, :soundcloud]</td>
    </tr>
    <tr>
      <td>
      <strong>uid</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>98127319283</td>
    </tr>
    <tr>
      <td>
        <strong>access_token</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>8hgUYSGhjasdh23by23yIubYGHJFbhj</td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"result": {</div>
    <div class="level-3">"social_account": {</div>
    <div class="level-4">"uid": "98127319283",</div>
    <div class="level-4">"username": "johndoe",</div>
    <div class="level-4">"name": "john doe",</div>
    <div class="level-4">"provider": "soundcloud",</div>
    <div class="level-4">"access_token": "8hgUYSGhjasdh23by23yIubYGHJFbhj",</div>
    <div class="level-4">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
    <div class="level-4">"is_deleted": false,</div>
    <div class="level-4">"createdAt": "2015-08-08T19:24:28.300Z",</div>
    <div class="level-4">"updatedAt": "2015-08-08T19:24:28.300Z",</div>
    <div class="level-4">"id": "55c6576c4543e34c0cb49a3e"</div>
    <div class="level-3">}</div>
    <div class="level-2">}</div>
    <div class="level-1">}</div>
  </div>
</div>