<div class="panel-body">
  <h2>POST /auth/password/forgot</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>https://undiscovered.herokuapp.com/auth/password/forgot</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
      <strong>email</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>john@due.com</td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"result": {</div>
    <div class="level-3">"sent": "250 2.0.0 OK 1439062925 bf14sm6546644pdb.28 - gsmtp",</div>
    <div class="level-3">"message": "An email has been sent to your account's email address. Please check your email to continue."</div>
    <div class="level-2">}</div>
    <div class="level-1">}</div>
  </div>
</div>