<div class="panel-body">
  <h2>Playlists</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#get-playlists" class="list-group-item"><span>GET</span> /playlists</a>
    <a href="#get-playlists-identity" class="list-group-item"><span>GET</span> /playlists/playlists-id</a>
    <a href="#post-playlists" class="list-group-item"><span>POST</span> /playlists</a>
    <a href="#put-playlists" class="list-group-item"><span>PUT</span> /playlists/playlist-id</a>
    <a href="#post-track" class="list-group-item"><span>POST</span> /playlists/playlist-id/track</a>
    <a href="#delete-playlists" class="list-group-item"><span>DELETE</span> /playlists/playlist-id</a>
    <a href="#delete-track" class="list-group-item"><span>DELETE</span> /playlists/playlist-id/track/video-id</a>
  </ul>
  <hr id="get-playlists">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>GET</span>/playlists
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#reponse-get-playlists" aria-expanded="true" aria-controls="reponse-get-playlists">
        Response
      </a>
    </div>
    <div id="reponse-get-playlists" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": [{</div>
          <div class="level-3">"videos": [],</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"is_deleted": false,</div>
          <div class="level-4">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-4">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-4">"id": "55c6325543b53cf0025738ee"</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null</div>
          <div class="level-3">},</div>
          <div class="level-3">"title": "Rock",</div>
          <div class="level-3">"description": "My favorite songs",</div>
          <div class="level-3">"createdAt": "2015-08-25T01:08:46.950Z",</div>
          <div class="level-3">"updatedAt": "2015-08-25T01:08:46.950Z",</div>
          <div class="level-3">"id": "55dbc01e240ea5681daf3f4b"</div>
          <div class="level-2">}]</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="get-playlists-identity">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>GET</span>/playlists/playlist-id
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists/playlist-id</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-get-playlists-identity" aria-expanded="true" aria-controls="response-get-playlists-identity">
        Response
      </a>
    </div>
    <div id="response-get-playlists-identity" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"videos": [],</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"is_deleted": false,</div>
          <div class="level-4">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-4">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-4">"id": "55c6325543b53cf0025738ee",</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null</div>
          <div class="level-3">},</div>
          <div class="level-3">"title": "Rock",</div>
          <div class="level-3">"description": "My favorite songs",</div>
          <div class="level-3">"createdAt": "2015-08-25T01:08:46.950Z",</div>
          <div class="level-3">"updatedAt": "2015-08-25T01:08:46.950Z",</div>
          <div class="level-3">"id": "55dbc01e240ea5681daf3f4b"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="post-playlists">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/playlists
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-post-playlists" aria-expanded="true" aria-controls="response-post-playlists">
        Response
      </a>
    </div>
    <div id="response-post-playlists" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"videos": []</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"id": "55d6262976f8f4e82eb5ecd1",</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"biography": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null</div>
          <div class="level-3">},</div>
          <div class="level-3">"title": "Lorem ipsum",</div>
          <div class="level-3">"description": null,</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55dbc5a5240ea5681daf3f4c"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>title</strong>
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>Rock</td>
        </tr>
        <tr>
          <td>
            <strong>description</strong>
            <br/>
            <small>optional</small>
          </td>
          <td>String</td>
          <td>My favorite songs</td>
        </tr>
      </table>
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="put-playlists">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>PUT</span>/playlists/playlist-id
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists/55dbc5a5240ea5681daf3f4c</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-put-playlists" aria-expanded="true" aria-controls="response-put-playlists">
        Response
      </a>
    </div>
    <div id="response-put-playlists" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"videos": []</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"id": "55d6262976f8f4e82eb5ecd1",</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"biography": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null</div>
          <div class="level-3">},</div>
          <div class="level-3">"title": "Lorem ipsum",</div>
          <div class="level-3">"description": null,</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55dbc5a5240ea5681daf3f4c"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>title</strong>
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>Rock</td>
        </tr>
        <tr>
          <td>
            <strong>description</strong>
            <br/>
            <small>optional</small>
          </td>
          <td>String</td>
          <td>My favorite songs</td>
        </tr>
      </table>
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="post-track">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/playlists/playlist-id/track
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists/55dbcc93897d2cd0229ff59d/track</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-post-track" aria-expanded="true" aria-controls="response-post-track">
        Response
      </a>
    </div>
    <div id="response-post-track" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": [{</div>
          <div class="level-3">"genres": [{</div>
          <div class="level-4">"name": "Rock",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:22:24.916Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:22:24.916Z",</div>
          <div class="level-4">"id": "55d628f076f8f4e82eb5ecd2"</div>
          <div class="level-3">}],</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"id": "55d6262976f8f4e82eb5ecd1",</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"biography": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null</div>
          <div class="level-3">},</div>
          <div class="level-3">"song_title": "Tell Me If You Wanna Go Home",</div>
          <div class="level-3">"artist": "Keira",</div>
          <div class="level-3">"thumbnail": null,</div>
          <div class="level-3">"location": "US",</div>
          <div class="level-3">"video": "https://undiscovered-media-asia.s3.amazonaws.com/4502531d-9313-442d-93b8-c1a8556fb284.mp4",</div>
          <div class="level-3">"timestamp": 1440184492252,</div>
          <div class="level-3">"createdAt": "2015-08-21T19:14:52.271Z",</div>
          <div class="level-3">"updatedAt": "2015-08-21T19:14:52.271Z",</div>
          <div class="level-3">"id": "55d778ac159003d02278b78f",</div>
          <div class="level-3">"comments": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"content": "Lorem Ipsum",</div>
          <div class="level-5">"timestamp": 1440296847278,</div>
          <div class="level-5">"createdAt": "2015-08-23T02:27:27.298Z",</div>
          <div class="level-5">"updatedAt": "2015-08-23T02:27:27.298Z",</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}],</div>
          <div class="level-3">"likes": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"type": "like",</div>
          <div class="level-5">"createdAt": "2015-08-23T02:27:27.298Z",</div>
          <div class="level-5">"updatedAt": "2015-08-23T02:27:27.298Z",</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}],</div>
          <div class="level-3">"views": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"type": "view",</div>
          <div class="level-5">"createdAt": "2015-08-23T02:27:27.298Z",</div>
          <div class="level-5">"updatedAt": "2015-08-23T02:27:27.298Z",</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}]</div>
          <div class="level-2">}]</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>video_ids</strong>
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>55d778ac159003d02278b78f, 55d778c4159003d02278b791</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="delete-playlists">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>DELETE</span>/playlists/playlist-id
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists/55dbc5a5240ea5681daf3f4c</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-delete-playlists" aria-expanded="true" aria-controls="response-delete-playlists">
        Response
      </a>
    </div>
    <div id="response-delete-playlists" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"message": "DELETED"</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="delete-track">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>DELETE</span>/playlists/playlist-id/track/track-id
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/playlists/55dbc5a5240ea5681daf3f4c/track/55d778c4159003d02278b791</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-delete-track" aria-expanded="true" aria-controls="response-delete-track">
        Response
      </a>
    </div>
    <div id="response-delete-track" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"message": "DELETED"</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
</div>