<div class="panel-body">
  <h2>POST /auth/:provider/register</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>https://undiscovered.herokuapp.com/auth/facebook/register</p>
  <p>https://undiscovered.herokuapp.com/auth/soundcloud/register</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
      <strong>provider</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>[:facebook, :soundcloud]</td>
    </tr>
    <tr>
      <td>
      <strong>uid</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>98127319283</td>
    </tr>
    <tr>
      <td>
        <strong>username</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>johndue</td>
    </tr>
    <tr>
      <td>
        <strong>name</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>John Due</td>
    </tr>
    <tr>
      <td>
        <strong>avatar</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String(URL)</td>
      <td>https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg</td>
    </tr>
    <tr>
      <td>
        <strong>access_token</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>8hgUYSGhjasdh23by23yIubYGHJFbhj</td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"result": {</div>
    <div class="level-3">"user": {</div>
    <div class="level-4">"first_name": "john",</div>
    <div class="level-4">"last_name": "doe",</div>
    <div class="level-4">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
    <div class="level-4">"is_deleted": false,</div>
    <div class="level-4">"token": "08fRzzxjMRi3vnxfa2OwL0NHNUN9r3ydXWW4cj",</div>
    <div class="level-4">"createdAt": "2015-08-08T19:24:28.052Z",</div>
    <div class="level-4">"updatedAt": "2015-08-08T19:24:28.052Z",</div>
    <div class="level-4">"id": "55c6576c4543e34c0cb49a3d",</div>
    <div class="level-4">"socialaccounts": [{</div>
    <div class="level-5">"uid": "98127319283",</div>
    <div class="level-5">"username": "johndoe",</div>
    <div class="level-5">"name": "john doe",</div>
    <div class="level-5">"provider": "soundcloud",</div>
    <div class="level-5">"access_token": "8hgUYSGhjasdh23by23yIubYGHJFbhj",</div>
    <div class="level-5">"avatar": "https://i1.sndcdn.com/avatars-000146623352-wa7jzn-t200x200.jpg",</div>
    <div class="level-5">"is_deleted": false,</div>
    <div class="level-5">"createdAt": "2015-08-08T19:24:28.300Z",</div>
    <div class="level-5">"updatedAt": "2015-08-08T19:24:28.300Z",</div>
    <div class="level-5">"id": "55c6576c4543e34c0cb49a3e"</div>
    <div class="level-4">}]</div>
    <div class="level-3">}</div>
    <div class="level-2">}</div>
    <div class="level-1">}</div>
  </div>
</div>