<div class="panel-body">
  <h2>Users</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#get-users-information" class="list-group-item"><span>GET</span> /users/user-id</a>
    <a href="#get-users-self-feed" class="list-group-item"><span>GET</span> /users/self/feed</a>
    <a href="#post-users-relationship" class="list-group-item"><span>POST</span> /users/:user_id/relationship</a>
    <a href="#get-users-fans" class="list-group-item"><span>GET</span> /users/:user_id/fans</a>
    <a href="#get-users-following" class="list-group-item"><span>GET</span> /users/:user_id/following</a>
  </ul>
  <hr id="get-users-information">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>GET</span>/users/user-id
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/users/user-id</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Response
      </a>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"email": "john@due.com",</div>
          <div class="level-3">"first_name": "John",</div>
          <div class="level-3">"last_name": "Doe",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55c6325543b53cf0025738ee"</div>
          <div class="level-3">"counts":{</div>
          <div class="level-4">"songs":72,</div>
          <div class="level-4">"fans":130,</div>
          <div class="level-4">"following":172,</div>
          <div class="level-3">}</div>
          <div class="level-3">"avatar": "https://undiscovered-media-asia.s3.amazonaws.com/107dc80b-6b4d-4116-af37-4a3d335859c5.JPG",</div>
          <div class="level-3">"biography": null,</div>
          <div class="level-3">"location_lat": null,</div>
          <div class="level-3">"location_long": null</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>user_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d6260e76f8f4e82eb5ecd0</td>
        </tr>
      </table>
    </div>
  </div>
  <hr/>
  <p>Error Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "FAILED",</div>
    <div class="level-2">"message": "MissingParameters"</div>
    <div class="level-1">}</div>
  </div>

  <hr id="get-users-self-feed">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>GET</span>/users/self/feed
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/users/self/feed</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-self-feed" aria-expanded="true" aria-controls="response-self-feed">
        Response
      </a>
    </div>
    <div id="response-self-feed" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": [{</div>
          <div class="level-3">"genres": [{</div>
          <div class="level-4">"name": "Rock",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:22:24.916Z",</div>
          <div class="level-4">"updatedAt: "2015-08-20T19:22:24.916Z",</div>
          <div class="level-4">"id": "55d628f076f8f4e82eb5ecd2"</div>
          <div class="level-3">}],</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"id": "55d6262976f8f4e82eb5ecd1",</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"biography": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null,</div>
          <div class="level-3">},</div>
          <div class="level-3">"song_title": "Tell Me If You Wanna Go Home",</div>
          <div class="level-3">"artist": "Keira",</div>
          <div class="level-3">"thumbnail": null,</div>
          <div class="level-3">"location": "US",</div>
          <div class="level-3">"video": "https://undiscovered-media-asia.s3.amazonaws.com/4502531d-9313-442d-93b8-c1a8556fb284.mp4",</div>
          <div class="level-3">"timestamp": 1440184492252,</div>
          <div class="level-3">"createdAt": "2015-08-21T19:14:52.271Z",</div>
          <div class="level-3">"updatedAt": "2015-08-21T19:14:52.271Z",</div>
          <div class="level-3">"id": "55d778ac159003d02278b78f",</div>
          <div class="level-3">"comments": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"content": "Lorem Ipsum",</div>
          <div class="level-5">"timestamp": 1440296847278,</div>
          <div class="level-5">"createdAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"updatedAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}],</div>
          <div class="level-3">"likes": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"type": "like",</div>
          <div class="level-5">"createdAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"updatedAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}],</div>
          <div class="level-3">"views": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"type": "view",</div>
          <div class="level-5">"createdAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"updatedAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}]</div>
          <div class="level-2">}]</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="post-users-relationship">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/users/user-id/relationship
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/users/55c6325543b53cf0025738ee/relationship</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-post-relationship" aria-expanded="true" aria-controls="response-post-relationship">
        Response
      </a>
    </div>
    <div id="response-post-relationship" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"message": "followed"</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>user_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d6260e76f8f4e82eb5ecd0</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="get-users-fans">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/users/user-id/fans
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/users/55d625f776f8f4e82eb5eccf/fans</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-get-users-fans" aria-expanded="true" aria-controls="response-get-users-fans">
        Response
      </a>
    </div>
    <div id="response-get-users-fans" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": [{</div>
          <div class="level-3">"email": "john@doe.com",</div>
          <div class="level-3">"first_name": "John",</div>
          <div class="level-3">"last_name": "Doe",</div>
          <div class="level-3">"createdAt": "2015-08-20T19:10:06.790Z",</div>
          <div class="level-3">"updatedAt": "2015-08-20T19:10:06.790Z",</div>
          <div class="level-3">"id": "55d6260e76f8f4e82eb5ecd0"</div>
          <div class="level-3">"avatar": null</div>
          <div class="level-3">"biography": null</div>
          <div class="level-3">"location_lat": null</div>
          <div class="level-3">"location_long": null</div>
          <div class="level-2">"}]</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>user_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d6260e76f8f4e82eb5ecd0</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="get-users-following">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span>/users/user-id/following
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/users/55d625f776f8f4e82eb5eccf/following</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#response-get-users-following" aria-expanded="true" aria-controls="response-get-users-following">
        Response
      </a>
    </div>
    <div id="response-get-users-following" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": [{</div>
          <div class="level-3">"email": "john@doe.com",</div>
          <div class="level-3">"first_name": "John",</div>
          <div class="level-3">"last_name": "Doe",</div>
          <div class="level-3">"createdAt": "2015-08-20T19:10:06.790Z",</div>
          <div class="level-3">"updatedAt": "2015-08-20T19:10:06.790Z",</div>
          <div class="level-3">"id": "55d6260e76f8f4e82eb5ecd0"</div>
          <div class="level-3">"avatar": null</div>
          <div class="level-3">"biography": null</div>
          <div class="level-3">"location_lat": null</div>
          <div class="level-3">"location_long": null</div>
          <div class="level-2">"}]</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>user_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>55d6260e76f8f4e82eb5ecd0</td>
        </tr>
      </table>
    </div>
  </div>
</div>