<div class="panel-body">
  <h2>Video Endpoints</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#api-post-comment" class="list-group-item"><span>POST</span> videos/upload</a>
    <a href="#api-get-comment" class="list-group-item"><span>PUT</span> videos/:video_id/update</a>
    <a href="#api-delete-comment" class="list-group-item"><span>DELETE</span> videos/:video_id/delete</a>
  </ul>
  <hr id="api-post-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>POST</span> /videos/upload
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/videos/upload</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#post-comment" aria-expanded="true" aria-controls="post-comment">
        Response
      </a>
    </div>
    <div id="post-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"song_title": "Lean On",</div>
          <div class="level-3">"artist": "Major feat MO",</div>
          <div class="level-3">"thumbnail": "pict.jpg",</div>
          <div class="level-3">"location": "Indonesia",</div>
          <div class="level-3">"genre_ids": "55daa383025dd2084fc72d76,55daa383025dd2084fc72d89",</div>
          <div class="level-3">"hashtag": "#funny #dubsmash",</div>
          <div class="level-3">"file": "leaon.mp4",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55dc13c20399af22573209b6"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>song_title</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>Lean On</td>
        </tr>
        <tr>
          <td>
            <strong>artist</strong>
            
          </td>
          <td>String</td>
          <td>Major feat MO</td>
        </tr>
        <tr>
          <td>
            <strong>thumbnail</strong>
            
          </td>
          <td>String</td>
          <td>pict.jpeg</td>
        </tr>
        <tr>
          <td>
            <strong>location</strong>
            
          </td>
          <td>String</td>
          <td>Indonesia</td>
        </tr>
        <tr>
          <td>
            <strong>location</strong>
            
          </td>
          <td>String</td>
          <td>Indonesia</td>
        </tr>
        <tr>
          <td>
            <strong>genre_ids</strong>
            
          </td>
          <td>String</td>
          <td>55daa383025dd2084fc72d76</td>
        </tr>
        <tr>
          <td>
            <strong>hashtags</strong>
            
          </td>
          <td>String</td>
          <td>#funnymomment #dubmash</td>
        </tr>
        <tr>
          <td>
            <strong>file</strong>
            
          </td>
          <td>file</td>
          <td>lean_on.mp4</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-get-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>PUT</span>/videos/:video_id/update
      </h4>
    </div>
    <div class="panel-body">
    <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/update</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#get-comments" aria-expanded="true" aria-controls="get-comments">
        Response
      </a>
    </div>
    <div id="get-comments" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"song_title": "Lean On",</div>
          <div class="level-3">"artist": "Major feat MO",</div>
          <div class="level-3">"thumbnail": "pict.jpg",</div>
          <div class="level-3">"location": "Indonesia",</div>
          <div class="level-3">"genre_ids": "55daa383025dd2084fc72d76,55daa383025dd2084fc72d89",</div>
          <div class="level-3">"createdAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"updatedAt": "2015-08-08T16:46:13.056Z",</div>
          <div class="level-3">"id": "55dc13c20399af22573209b6"</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>song_title</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>String</td>
          <td>Lean On</td>
        </tr>
        <tr>
          <td>
            <strong>artist</strong>
            
          </td>
          <td>String</td>
          <td>Major feat MO</td>
        </tr>
        <tr>
          <td>
            <strong>thumbnail</strong>
            
          </td>
          <td>String</td>
          <td>pict.jpeg</td>
        </tr>
        <tr>
          <td>
            <strong>location</strong>
            
          </td>
          <td>String</td>
          <td>Indonesia</td>
        </tr>
        <tr>
          <td>
            <strong>location</strong>
            
          </td>
          <td>String</td>
          <td>Indonesia</td>
        </tr>
        <tr>
          <td>
            <strong>genre_ids</strong>
            
          </td>
          <td>String</td>
          <td>55daa383025dd2084fc72d76</td>
        </tr>
      </table>
    </div>
  </div>
  <hr id="api-delete-comment">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>DELETE</span>/videos/:video_id/delete
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/videos/:video_id/delete</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#delete-comment" aria-expanded="true" aria-controls="delete-comment">
        Response
      </a>
    </div>
    <div id="delete-comment" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": "DELETED"</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Parameters</h4>
      <table class="table">
        <tr>
          <td>
            <strong>video_id</strong>
            <br/>
            <small>Required</small>
          </td>
          <td>55dc13c20399af22573209b6</td>
        </tr>
      </table>
    </div>
  </div>
</div>