<div class="panel-body">
  <h2>Videos</h2>
  <hr>
  <ul class="navigation-menu-doc list-group">
    <a href="#get-video-detail" class="list-group-item"><span>GET</span> videos/:video_id</a>
    <a href="#post-video" class="list-group-item"><span>POST</span> /videos/update</a>
    <a href="#put-video" class="list-group-item"><span>PUT</span> /videos/:video_id/update</a>
    <a href="#delete-video" class="list-group-item"><span>DELETE</span> /videos/:video_id/delete</a>
  </ul>
  <hr id="put-video">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>PUT</span>videos/video-id/update
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/videos/55d778c4159003d02278b791/update</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#reponse-put-videos" aria-expanded="true" aria-controls="reponse-put-videos">
        Response
      </a>
    </div>
    <div id="reponse-put-videos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"data": {</div>
          <div class="level-3">"genres": [{</div>
          <div class="level-4">"name": "Rock",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:22:24.916Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:22:24.916Z",</div>
          <div class="level-4">"id": "55d628f076f8f4e82eb5ecd2"</div>
          <div class="level-3">}],</div>
          <div class="level-3">"user": {</div>
          <div class="level-4">"email": "john@doe.com",</div>
          <div class="level-4">"first_name": "John",</div>
          <div class="level-4">"last_name": "Doe",</div>
          <div class="level-4">"createdAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"updatedAt": "2015-08-20T19:10:33.057Z",</div>
          <div class="level-4">"id": "55d6262976f8f4e82eb5ecd1",</div>
          <div class="level-4">"avatar": null,</div>
          <div class="level-4">"biography": null,</div>
          <div class="level-4">"location_lat": null,</div>
          <div class="level-4">"location_long": null,</div>
          <div class="level-3">},</div>
          <div class="level-3">"song_title": "Tell Me If You Wanna Go Home",</div>
          <div class="level-3">"artist": "Keira",</div>
          <div class="level-3">"thumbnail": null,</div>
          <div class="level-3">"location": "US",</div>
          <div class="level-3">"video": "https://undiscovered-media-asia.s3.amazonaws.com/4502531d-9313-442d-93b8-c1a8556fb284.mp4",</div>
          <div class="level-3">"timestamp": 1440184492252,</div>
          <div class="level-3">"createdAt": "2015-08-21T19:14:52.271Z",</div>
          <div class="level-3">"updatedAt": "2015-08-21T19:14:52.271Z",</div>
          <div class="level-3">"id": "55d778ac159003d02278b78f",</div>
          <div class="level-3">"comments": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"content": "Lorem Ipsum",</div>
          <div class="level-5">"timestamp": 1440296847278,</div>
          <div class="level-5">"createdAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"updatedAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}],</div>
          <div class="level-3">"likes": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"type": "like",</div>
          <div class="level-5">"createdAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"updatedAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}],</div>
          <div class="level-3">"views": [{</div>
          <div class="level-4">"data": [{</div>
          <div class="level-5">"user": "55d6260e76f8f4e82eb5ecd0",</div>
          <div class="level-5">"video": "55d778ac159003d02278b78f",</div>
          <div class="level-5">"type": "view",</div>
          <div class="level-5">"createdAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"updatedAt": 2015-08-23T02:27:27.298Z,</div>
          <div class="level-5">"id": "55d92f8ff70305fc080217c6"</div>
          <div class="level-4">}],</div>
          <div class="level-4">"count": 1</div>
          <div class="level-3">}]</div>
          <div class="level-2">}</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
      <h4>Parameters</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>song_title</strong>
            <br/>
            <small>optional</small>
          </td>
          <td>String</td>
          <td>Tell me if you wanna go home</td>
        </tr>
        <tr>
          <td>
            <strong>artist</strong>
            <br/>
            <small>optional</small>
          </td>
          <td>String</td>
          <td>Keira</td>
        </tr>
        <tr>
          <td>
            <strong>location</strong>
            <br/>
            <small>optional</small>
          </td>
          <td>String</td>
          <td>US</td>
        </tr>
      </table>
    </div>
  </div>

  <hr id="delete-video">
  <div class="api-panel panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <span>DELETE</span>videos/video-id/delete
      </h4>
    </div>
    <div class="panel-body">
      <span class="url">https://undiscovered.herokuapp.com/videos/55d778c4159003d02278b791/delete</span>
      <a class="btn btn-sm btn-default pull-right" role="button" data-toggle="collapse" data-parent="#accordion" href="#reponse-delete-videos" aria-expanded="true" aria-controls="reponse-delete-videos">
        Response
      </a>
    </div>
    <div id="reponse-delete-videos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body response-result">
        <div class="well-code">
          <div class="level-1">{</div>
          <div class="level-2">"status": "OK",</div>
          <div class="level-2">"message": "DELETED",</div>
          <div class="level-1">}</div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <h4>Headers</h4>
      <table class="table table-condensed">
        <tr>
          <td>
            <strong>Authorization</strong>(access_token)
            <br/>
            <small>required</small>
          </td>
          <td>String</td>
          <td>08ga6nmi78ZxcxsOMXIKZ6deUndmoCjpfFRXB6</td>
        </tr>
      </table>
    </div>
  </div>
</div>