/* Space out content a bit */
body {
  padding-bottom: 20px;
  background-color: #f7f8f9;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 400;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.well {
  background-color: #fff;
  box-shadow: none;
  border: solid 1px #e5e5e5;
}

.well h3{
  margin-top: 0;
}

.alert {
  position: fixed;
  top: 60px;
  padding: 10px 35px 10px 15px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 450px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 970px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}


.alert-dismissable .close, .alert-dismissible .close {
  position: absolute;
  top: 0px;
  right: 7px;
  color: inherit;
}

.navigation-menu-doc a span {
  width: 60px;
  display: inline-block;
  color: #09f;
}

.documentation-api {
  min-height: 450px;
}

.docs-sidebar{
  border-right: solid 1px #ddd;
  background-color: #f6f7f9;
  padding-top: 40px;
  position: absolute;
  bottom: 0;
  top: 0;
}

.docs-sidebar .list-unstyled{
  margin-bottom: 0;
}

.docs-sidebar .list-unstyled li h4{
  font-weight: 400;
  padding: 5px 15px;
}

.docs-sidebar .list-unstyled li a{
  padding: 10px 15px;
  border-top: solid 1px #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  display: block;
  position: relative;
  background-color: #fff;
}

.docs-sidebar .list-unstyled li a.active:after{
  content: "";
  height: 17px;
  width: 9px;
  background-image: url(../images/nav-active-arrow.png);
  background-size: 100%;
  display: block;
  right: -1px;
  position: absolute;
  top: 50%;
  margin-top: -8.5px;
}

.docs-sidebar .list-unstyled li a:hover,
.docs-sidebar .list-unstyled li a.active{
  background-color: #f1f2f4;
  text-decoration: none;
}

.docs-reader {
  word-wrap: break-word;
}

.api-panel .panel-title span{
  margin: 15px 20px 15px 0;
  width: 120px;
  color: #09f;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
}

.api-panel.panel-default .panel-heading{
  background-color: #fff;
}
.api-panel.panel-default .panel-footer{
  background-color: #f6f7f9;
}

.api-panel.panel-default .panel-body{
  padding: 6px 6px 6px 15px;
  word-wrap: break-word;
}

.api-panel .panel-body span.url{
  margin: 5px 0;
  display: inline-block;
}

.api-panel .panel-body a.btn.btn-sm{
  text-transform: uppercase;
  color: #09f;
  border-color: #09f;
}

.api-panel .panel-body a.btn.btn-sm:hover,
.api-panel .panel-body a.btn.btn-sm:focus{
  text-transform: uppercase;
  background-color: #09f;
  color: #fff;
  border-color: #09f;
}

.api-panel .panel-body.response-result{
  padding: 0;
}

.api-panel .panel-body.response-result .well-code{
  border-radius: 0;
  margin:0;
  background-color: #fff;
  border:none;
  border-top: solid 1px #ddd;
  color:#555;
}

.well-code{
  display: block;
  padding: 10px 15px;
  margin: 0 0 10px;
  font-size: 13px;
  letter-spacing: 1px;
  color: #73A771;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #002039;
  border: 1px solid #222;
  border-radius: 4px;
}

.well-code .level-2{
  margin-left: 20px;
}

.well-code .level-3{
  margin-left: 40px;
}

.well-code .level-4{
  margin-left: 60px;
}

.well-code .level-5{
  margin-left: 80px;
}

.well-code .level-6{
  margin-left: 100px;
}

.well-code .level-7{
  margin-left: 120px;
}

.table {
  word-wrap: break-word;
  table-layout: fixed;
}

@media screen and (min-width: 992px) {
  .list-unstyled.menu-docs.affix{
    top:0;
    width: 241px;
  }
}

@media screen and (max-width: 992px) {
  .list-unstyled.menu-docs.affix{
    top:0;
    width: 248px;
  }

  .api-panel .panel-body span.url{
    word-wrap: break-word;
    width: 100%;
  }
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px){

  h3.text-muted {
    font-size: 18px;
  }

  .docs-sidebar{
    border-right: none;
    background-color: #f6f7f9;
    padding-top: 0;
    position: relative;
    bottom: 0;
    top: 0;
  }

  .docs-reader h2{
    font-size: 20px;
    line-height: 22px;
  }

  .docs-sidebar .menu-docs-top{
    border-bottom: solid 1px #ddd;
  }

  .api-panel .panel-body span.url{
    word-wrap: break-word;
    width: 100%;
  }

  .api-panel .panel-body a.btn.btn-sm {
    width: 100%;
    margin: 10px 4px 5px;
    padding: 8px 10px;
  }

  .menu-docs{
    display: none;
  }

  .well-code .level-2{
    margin-left: 10px;
  }

  .well-code .level-3{
    margin-left: 20px;
  }

  .well-code .level-4{
    margin-left: 30px;
  }

  .well-code .level-5{
    margin-left: 40px;
  }

  .well-code .level-6{
    margin-left: 50px;
  }

  .well-code .level-7{
    margin-left: 60px;
  }
}