<div class="panel-body">
  <h2>POST /videos/:video_id/comments</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>POST /videos/:video_id/comments</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
        <strong>video_id</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>55d778ac159003d02278b78f</td>
    </tr>
    <tr>
      <td>
        <strong>content</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>
        <strong>Hai John</strong>
        <br/>
        <small>min-length 8 character</small>
      </td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Success Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"data": {</div>
    <div class="level-3">"user": "55d6260e76f8f4e82eb5ecd0",</div>
    <div class="level-3">"video": "55d778ac159003d02278b78f",</div>
    <div class="level-3">"content": "Hai John",</div>
    <div class="level-3">"timestamp": 1440306922322,</div>
    <div class="level-3">"createdAt": "2015-08-23T05:15:22.330Z",</div>
    <div class="level-3">"updatedAt": "2015-08-23T05:15:22.330Z",</div>
    <div class="level-3">"id": "55d956ea8d37bdb41c1a9266"</div>
    <div class="level-2">}</div>
    <div class="level-1">}</div>
  </div>
  <hr/>
  <p>Error Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "FAILED",</div>
    <div class="level-2">"message": "MissingParameters"</div>
    <div class="level-1">}</div>
  </div>
</div>