<div class="panel-body">
  <h2>DELETE /videos/:video_id/comments/:comment_id</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>POST /videos/:video_id/comments/:comment_id</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
        <strong>video_id</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>55d778ac159003d02278b78f</td>
    </tr>
    <tr>
      <td>
        <strong>comment_id</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>
        <strong>55d956ea8d37bdb41c1a9266</strong>
      </td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Success Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"data": "DELETED"</div>
    <div class="level-1">}</div>
  </div>
  <hr/>
  <p>Error Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "FAILED",</div>
    <div class="level-2">"message": "NotFound"</div>
    <div class="level-1">}</div>
  </div>
</div>