<div class="panel-body">
  <h2>GET /videos/:video_id/comments</h2>
  <hr>
  <h4>Resource URL</h4>
  <p>POST /videos/:video_id/comments</p>
  <br/>
  <h4>Parameter:</h4>
  <table class="table">
    <tr>
      <td>
        <strong>video_id</strong>
        <br/>
        <small>Required</small>
      </td>
      <td>String</td>
      <td>55d778ac159003d02278b78f</td>
    </tr>
    <tr>
      <td>
        <strong>since</strong>
        <br/>
        <small>Optional</small>
      </td>
      <td>Timestamp</td>
      <td>
        <strong>1440306856591</strong>
      </td>
    </tr>
    <tr>
      <td>
        <strong>until</strong>
        <br/>
        <small>Optional</small>
      </td>
      <td>Timestamp</td>
      <td>
        <strong>1440306856591</strong>
      </td>
    </tr>
    <tr>
      <td>
        <strong>limit</strong>
        <br/>
        <small>Optional</small>
      </td>
      <td>Int</td>
      <td>
        <strong>10</strong>
      </td>
    </tr>
  </table>
  <hr/>
  <h4>Example Result</h4>
  <p>Success Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "OK",</div>
    <div class="level-2">"data": [</div>
    <div class="level-3">{</div>
    <div class="level-4">"user": {</div>
    <div class="level-5">"email": "john@doe.com",</div>
    <div class="level-5">"first_name": "John",</div>
    <div class="level-5">"last_name": "Doe",</div>
    <div class="level-5">"createdAt": "2015-08-20T19:10:06.790Z",</div>
    <div class="level-5">"updatedAt": "2015-08-20T19:10:06.790Z",</div>
    <div class="level-5">"id": "55d6260e76f8f4e82eb5ecd0"</div>
    <div class="level-4">},</div>
    <div class="level-4">video: "08ga6gx4ZazPEdjD32JN70II6U7fLq7jwaxb6F",</div>
    <div class="level-4">content: "Aloha",</div>
    <div class="level-4">timestamp: 1440306856591,</div>
    <div class="level-4">"createdAt": "2015-08-23T05:14:16.610Z",</div>
    <div class="level-4">"updatedAt": "2015-08-23T05:14:16.610Z",</div>
    <div class="level-4">"id": "55d956a88d37bdb41c1a9265"</div>
    <div class="level-3">}</div>
    <div class="level-2">]</div>
    <div class="level-1">}</div>
  </div>
  <hr/>
  <p>Error Response:</p>
  <div class="well-code">
    <div class="level-1">{</div>
    <div class="level-2">"status": "FAILED",</div>
    <div class="level-2">"message": "NotFound"</div>
    <div class="level-1">}</div>
  </div>
</div>